<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<context:component-scan base-package="com.nakamura"></context:component-scan>
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost/day09"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 创建一个事务管理器对象 -->
	<bean id="transactionManager" 
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 加载一个数据库连接池 -->
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 开启注解模式 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	
	
	
	<!-- 规则 -->
	<tx:advice id="transferAdvice" transaction-manager="transactionManager">
		<tx:attributes>
	<!-- 是要给哪个方法遵循哪个隔离级别和传播行为 -->
	
			<tx:method name="transfer" isolation="DEFAULT"/>
		</tx:attributes>
	</tx:advice>
	<!-- 配置一个切面类 告诉这个事务管理器这个规则要作用的范围 -->
	
	<aop:config>
		<aop:advisor pointcut="execution(* *..*.*ServiceImpl.transfer*(..))" advice-ref="transferAdvice"/>
	</aop:config>
	
	
</beans>
